/* licencieLoginForm.css */


.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logo-form-conn-admin {
        width: 20%;
        height: auto;
}

.card-header {
    background-color: #ffffff;
}