.moniteur-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.moniteur-card:hover {
    transform: scale(1.05);
}

.moniteur-card img {
    width: 100%; /* L'image prend toute la largeur de la carte */
    height: 150px; /* Hauteur fixe pour toutes les images */
    object-fit: contain; /* L'image est contenue dans le cadre sans être coupée */
    object-position: center; /* Centre l'image dans le cadre */
    padding: 5px;
    border-bottom: 1px solid #eee; /* Optionnel: ajoute une fine ligne pour séparer l'image du corps de la carte */
}

.moniteur-card .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.moniteur-card .card-text {
    font-size: 1rem;
}

/* Espacement et alignement du titre */
h1.text-center.mb-4 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}
